name: C/C++ CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: build_memory_allocator
      run: |
        cd ./src
        make -C 1.memory_cell/src/
    - name: build_array
      run: |
        cd ./src
        make -C 2.array/src/
    - name: build_linkedlist
      run: |
        cd ./src
        make -C 3.linkedlist/src/
  test:
    runs-on: ubuntu-latest
    needs: build
    steps:
    - uses: actions/checkout@v2
    - name: test_memory_allocator
      run: |
        cd ./src
        make -C 1.memory_cell/test/
        1.memory_cell/test/test-program
    - name: test_array
      run: |
        cd ./src
        make -C 2.array/test/
        2.array/test/test-program
    - name: test_linkedlist
      run: |
        cd ./src
        make -C 3.linkedlist/test/
        3.linkedlist/test/test-program
