name: C/C++ CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: build_memory_allocator
      run: |
        cd ./src
        make -C 1.memory_cell/src/
    - name: build-array
      run: |
        cd ./src
        make -C 2.array/src/
  test:
    runs-on: ubuntu-latest
    needs: build
    steps:
    - uses: actions/checkout@v2
    - name: test-array
      run: |
        cd ./src
        make -C 2.array/test/
        2.array/test/test-program
